// for creating utility classes
$sizes: (
  '4': 0.25rem,
  '8': 0.5rem,
  '12': 0.75rem,
  '16': 1rem,
  '20': 1.25rem,
  '24': 1.5rem,
  '28': 1.75rem,
  '32': 2rem,
  '36': 2.25rem,
  '40': 2.5rem,
  '48': 3rem,
);

// for use in the code base
$size-4: 0.25rem;
$size-8: 0.5rem;
$size-12: 0.75rem;
$size-16: 1rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-32: 2rem;
$size-36: 2.25rem;
$size-40: 2.5rem;
$size-48: 3rem;
