$ff-sans: "brother-1816", system-ui, sans-serif;
$ff-serif: serif;

$font-family-base: $ff-sans;
$font-family-accent: $ff-sans;

/* @link https://utopia.fyi/type/calculator?c=340,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
$font-sizes: (
  // Step -2: 11.11px → 12.80px
  '200': clamp(0.69rem, calc(0.65rem + 0.19vw), 0.80rem),
  // Step -1: 13.33px → 16.00px
  '300': clamp(0.83rem, calc(0.77rem + 0.30vw), 1.00rem),
  // Step 0: 16.00px → 20.00px
  '400': clamp(1.00rem, calc(0.91rem + 0.44vw), 1.25rem),
  // Step 1: 19.20px → 25.00px
  '500': clamp(1.20rem, calc(1.06rem + 0.64vw), 1.56rem),
  // Step 2: 23.04px → 31.04px
  '600': clamp(1.44rem, calc(1.25rem + 0.91vw), 1.94rem),
  // Step 3: 27.65px → 39.06px
  '700': clamp(1.73rem, calc(1.46rem + 1.27vw), 2.44rem),
  // Step 4: 33.18px → 48.83px
  '800': clamp(2.07rem, calc(1.70rem + 1.74vw), 3.05rem),
  // Step 5: 39.81px → 61.04px
  '900': clamp(2.49rem, calc(1.99rem + 2.36vw), 3.82rem),
);

$font-size-200: var(--fs-200);
$font-size-300: var(--fs-300);
$font-size-400: var(--fs-400);
$font-size-500: var(--fs-500);
$font-size-600: var(--fs-600);
$font-size-700: var(--fs-700);
$font-size-800: var(--fs-800);
$font-size-900: var(--fs-900);

$fw-200: 200;
$fw-300: 300;
$fw-500: 500;
$fw-700: 700;

$font-weight-light: $fw-200;
$font-weight-book: $fw-300;
$font-weight-semi-bold: $fw-500;
$font-weight-bold: $fw-700;
