@use "../abstracts" as *;

.border-frame {
  padding: $fluid-size-2xs;
  border-radius: $border-radius-2;
  border: 2px solid $color-neutral-900;

  @include mq(medium) {
    border: 2.5px solid $color-neutral-900;
  }

  @include mq(large) {
    border: 3px solid $color-neutral-900;
  }
}
