@use "../abstracts" as *;

.about {
  &__portrait {
    max-width: 20rem;
    margin-inline: auto;
  }

  &__tech-list {
    margin-inline-start: $fluid-size-l;
    columns: 2;
    max-width: 20rem;

    li::marker {
      color: $color-accent-400;
    }
  }
  
  &__content {
    display: grid;
    gap: var(--grid-gap, $grid-gap);
    grid-row-gap: $fluid-size-l;

    @include mq(medium) {
      align-items: start;
      grid-template-columns: 2fr 1fr;
    }
  }
}