@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration : none;
  background: none;
  line-height: 1;
  color: $color-neutral-1000;
  font-family: $button-font-family;
  font-size: $button-font-size;
  text-transform: $button-text-transform;
  font-weight: $button-font-weight;
  padding: $button-padding;
  border: $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  // transition: 275ms ease;

  &[data-type="accent"] {
    background-color: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background-color: $button-accent-background-hover;
      color: $button-accent-color-hover;
      border: $button-border-style $button-accent-border-color-hover;
    }
  }
}
