@use "../abstracts" as *;

.contact {
  &__image {
    max-width: 25rem;
    margin-inline: auto;

    @include mq(medium) {
      max-width: 100%;
    }
  }

  &__content {
    display: grid;
    gap: $grid-gap;
    align-items: center;

    @include mq(medium) {
      grid-template-columns: 4fr 5fr;
      grid-template-areas: "image info";

      .contact__image {
        grid-area: image;
      }
      .contact__info {
        grid-area: info;
      }
    }
  }
}