@use "../abstracts" as *;

.pill {
  display: inline-block;
  padding: 0.4em 0.6em;
  font-size: $font-size-400;
  font-weight: $font-weight-bold;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  color: $color-neutral-100;
  background-color: $color-accent-400;
  border-radius: 100rem;
}
