@use "../abstracts" as *;

.site-header {
  position: sticky;
  top: 0;

  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;
  text-transform: $site-header-text-transform;

  &__brand {
    // max-width: 6.5rem;
    max-width: $fluid-size-3xl;
    // fill: $color-accent-400;
  }

  &__inner {
    display: flex;
    gap: $fluid-size-m;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation-small-screens;

    @include mq(medium) {
      justify-content: $site-header-jusitifcation-large-screens;
    }
  }
}
