@use "../abstracts" as *;

.site-header {
  position: sticky;
  top: 0;
  z-index: 9;
  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;
  text-transform: $site-header-text-transform;
  overflow-x: clip;

  &__nav-toggle {
    --hamburger-stroke-color: #{$site-header-color};
    position: absolute;
    width: $fluid-size-l;
    right: $container-min-margin-inline;
    background: transparent;
    z-index: 999;
    border: 0;
    cursor: pointer;

    &:hover {
      --hamburger-stroke-color: #{$site-header-color-hover};
    }

    svg {
      fill: var(--hamburger-stroke-color);
    }

    @include mq(medium) {
      display: none;
    }
  }

  &__brand {
    --logo-stroke-color: #{$site-header-color};
    width: clamp(4.00rem, calc(2.68rem + 6.22vw), 6rem);
    z-index: 99;
    cursor: pointer;

    &:hover {
      --logo-stroke-color: #{$site-header-color-hover};
    }

    svg {
      height: auto;
      stroke: var(--logo-stroke-color);
    }
  }

  &__inner {
    display: flex;
    gap: $fluid-size-m;
    align-items: $site-header-alignment;
    justify-content: $site-header-jusitifcation-small-screens;

    @include mq(medium) {
      justify-content: $site-header-jusitifcation-large-screens;
    }
  }
}
